body {
    background-color: rgb(248, 247, 247);
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.searchbar-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 4px;
}

.searchbar-input-container {
    display: flex;  
    justify-content: space-between;
    gap: 4px
}

.searchbar-input {
    width: 100%;
}
