body {
    background-color: rgb(245, 245, 245);
    color:rgb(165, 165, 165); 
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: 0;
}

.title {
    font-size: 3.125rem;
    color:rgb(64, 64, 64);
}
.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.searchbar-input-container {
    position: relative;
    display: inline-block;
    flex-grow: 1;
    /* display: flex;  
    justify-content: space-between;
    gap: 4px */
}

.searchbar-input {
    width: 99%;
    height: 28px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color:rgb(64,64,64);
    vertical-align: bottom;
    padding-bottom: 0;
}

.searchbar-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    color: rgb(96, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-btn-img {
    height: 75%;
    width: auto;
}
.display-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.display-conditions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
}

.display-temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 50px;
    color: black;
}

.display-temp-img {
    height: 120px;
    width: auto
}
.display-conditions-container2 {
    display: inline-block;
    white-space: nowrap;
}

.display-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.display-conditions-img {
    height: 20.25px;
    width: auto;
}